<div class="mypage_main-contents">
	<ul class="users">
		<li><%= @user.name %></li>
		<li><%= @text %></li>
		<li><%= link_to '新規ワード登録', new_track_path %></li>
		<li><%= link_to 'つぶやく', tweet_mypage_index_path %></li>
	</ul>
</div>
