<footer class="footer">
  <small>
    <a><%= link_to "TimeTrack", root_path%></a>
    by Progate
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>